{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
  Complaints | Nova Hardware Complaint Management System
{% endblock %}
{% block content %}
  <div class="container d-flex justify-content-end align-items-center mb-3">
    <!-- Search Box -->
     <a href="{% url "add_complaint" %}" class="btn-site-color mx-3">Add a new complaint</a>
    <input type="text" id="searchInput" class="form-control w-50" placeholder="Search by Username, First Name, Item, or Customer Type" />
  </div>
  <table id="complaintsTable" class="table table-striped tablesort">
    <thead>
        <tr style="cursor: pointer;">
            <th scope="col" data-sort="number">Sl No <i class="fas fa-sort"></i></th>
            <th scope="col" data-sort="number">Date <i class="fas fa-sort"></i></th>
            <th scope="col" data-sort="string">Username <i class="fas fa-sort"></i></th>
            <th scope="col" data-sort="string">First Name <i class="fas fa-sort"></i></th>
            <th scope="col" data-sort="string">Item <i class="fas fa-sort"></i></th>
            <th scope="col" data-sort="string">Customer Type <i class="fas fa-sort"></i></th>
        </tr>
    </thead>
    <tbody id="complaintTableBody">
        {% for complaint in complaint %}
        <tr style="cursor: pointer;" onclick="window.location.href='{% url 'update_complaint' complaint.id %}'">
            <td>{{ forloop.counter }}</td>
            <td>{{ complaint.appoinment_date|date:"Y-m-d H:i" }}</td>
            <td>{{ complaint.customer.username }}</td>
            <td>{{ complaint.customer.first_name }}</td>
            <td>{{ complaint.item }}</td>
            <td>{{ complaint.customer_type }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
