{% extends 'dashboard/base.html' %}
{% load static %}
{% block title %}
  Complaints | Nova Hardware Complaint Management System
{% endblock %}
{% block content %}
<h1>Add a new Complaint</h1>
<br>
  <form method="POST" class="needs-validation">
    {% csrf_token %}

    <div class="mb-3">
      {{ form.as_p }}
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    {% if show_delete_button %}
      <button type="submit" name="delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this complaint?');">Delete</button>
    {% endif %}
  </form>
{% endblock %}
